<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div class="dashboard-main-wrapper">

    <div th:replace="/fragments/header :: header"></div>

    <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>

    <div class="dashboard-wrapper">

        <div class="dashboard-ecommerce">

            <div class="container-fluid dashboard-content">

                <div class="ecommerce-widget">

                    <div class="row">

                        <div class="col-lg-6 col-md-12">

                            <section class="panel panel-transparent">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User Create</h2>
                                </header>

                                <div class="panel-body">

                                    <!-- ------------------------FORM START----------------------------- -->
                                    <form th:action="@{/user/create}" method="post" th:object="${newUser}">
<!-- .html deki bir form tag i icine th:object yaziyoruz. Bunun icine
controller dan bos bir obje (th:object="${newUser}") gönderiyoruz (@NoArgsConstructor aslinda
bir nevi bunun icin, ayrica bu empty POJO fill edildikten sonra bunu
@ModelAttribute ile diger controller methodundan catch edip POST
protokol ile Repository e save ediyoruz).
Ayrica th:action ile form tag deki bilgiler submit button a baska ya da ayni
endpoint atiyoruz (th:action="@{/user/create}" => ayni end point e
directing olunca genelde 2nd method POST, ilki GET oluyor).
Neden method="post" u kullaniyorum? => Cünkü doldurulan form daki data lari
save edecegim. Bunun icin controller a gidip @PostMapping ile yeni bir method
create ediyorum-->
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname" class="col-form-label">First Name</label>
                                                    <input id="firstname" type="text" placeholder="first name" class="form-control"
                                                    th:field="*{firstName}"><!-- Neden getFirstName() yapmiyorum? yani getter
                                                    kullanmiyorum? Cünkü bunu o zaman POST protokolü ile kullanamazdim!-->
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname" class="col-form-label">Last Name</label>
                                                    <input id="lastname" type="text" placeholder="last name" class="form-control"
                                                    th:field="*{lastName}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="emailaddress" class="col-form-label">Email Address</label>
                                                    <input id="emailaddress" type="text" placeholder="email address" class="form-control"
                                                    th:field="*{userName}">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="phonenumber" class="col-form-label">Phone Number</label>
                                                    <input id="phonenumber" type="tel" placeholder="phone number" class="form-control"
                                                    th:field="*{phone}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="password" class="col-form-label">Password</label>
                                                    <input id="password" type="password" placeholder="password" class="form-control"
                                                    th:field="*{password}">
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label for="repassword" class="col-form-label">Confirm Password</label>
                                                    <input id="repassword" type="password" placeholder="confirm your password" class="form-control"
                                                    th:field="*{password}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Gender</label><br>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline" class="custom-control-input"
                                                               th:field="*{gender}" th:value="MALE">
                                                        <span class="custom-control-label">Male</span>
                                                    </label>
                                                    <label class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" name="radio-inline" class="custom-control-input"
                                                               th:field="*{gender}" th:value="FEMALE">
                                                        <span class="custom-control-label">Female</span>
<!-- gender icin input tag i icindeki value ye Male ya da Female yazinca run time error veriyor-->
                                                    </label>

                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-md-6">
                                                <div class="form-group">
                                                    <label>Choose a Role</label>
                                                    <select name="role" class="custom-select" th:field="*{roleDTO}">
<!-- Eger biz tag icinde name ve id degerleri atamazsak thymeleaf or html kendisi
otomatik olarak bunlari define ediyor. Ör UI dan bir part =>
<select name="roleDTO" class="custom-select" id="roleDTO"> ... </select>>
bunun gibi-->
                                                        <option th:value="''" th:text="Select"></option>
                                                        <option th:each="eachRole : ${listOfRoles}" th:value="${eachRole.id}"
                                                                th:text="${eachRole.description}"></option>
<!-- Eger eachRole.id veya eachRole.description böyle belirtmezsek Role obje olarak
getirilir => like => id=1; description=Admin ...-->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-12">
                                                <div class="float-right">
                                                    <button type="submit" class="btn btn-success">Save</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <!-- ------------------------FORM END----------------------------- -->

                                </div>

                            </section>

                        </div>

                    </div>

                </div>



                <!-- ------------------------TABLE START----------------------------- -->

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">User List</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Email(username)</th>
                                                <th scope="col">Gender</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                            </thead>

                                            <tbody>

                                            <tr th:each="eachUser : ${allUser}">
                                                <td th:text="${eachUser.firstName + ' ' + eachUser.lastName}"></td>
                                                <td th:text="${eachUser.userName}"></td>
                                                <td th:text="${eachUser.gender.value}"></td>
<!-- Neden eachUser.gender.value dedik? => Cünkü enum kücük harf ve bosluklara
izin vermedigi icin bunu parametreli, constructor li ve getValue() methodlu yaptik.
Böylece istedgimiz sekilde degerleri parametre olarak yazip onlari ilgili
field name (burada value) ile call edebiliyoruz.-->
                                                <td th:text="${eachUser.phone}"></td>
                                                <td th:text="${eachUser.roleDTO.description}"></td>
                                                <td class="actions">
                                                    <a href="#"><button type="button" class="btn btn-warning btn-sm">Update</button></a>
                                                    <a href="#" class="delete-row"><button type="button" class="btn btn-secondary btn-sm">Delete</button></a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>

                <!-- ------------------------TABLE END----------------------------- -->

            </div>

        </div>

    </div>

    <div th:replace="/fragments/footer :: footer"></div>

</div>

<div th:replace="/fragments/javascript :: js"></div>

</body>

</html>